body{
    background: url("../img/background.jpg") no-repeat;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
   }
th{
    text-align: center;
}
th,tr,td{
    width: 600px;
    text-align: center;
}
table, th, td {
    background-color: white;
    opacity: 0.8;
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 2em;
    border: 1px solid black;
    border-collapse: collapse;
  }
